<% provide(:title, "Pupils") %>

<%= render 'shared/sidebar' %>

<div class="console">

<div class="navbar">
<div class="titlebox show">Pupils</div>
</div>

<div id="income-form">
<div class="main-header">
Add Pupils
</div>
<div id="income-form-div" class="form-container">
<%= render 'shared/client_form' %>
</div>
</div>
</div>








<div id="clients">

<%= render 'shared/client_info' %>

</div>

</div>

