body {
background: white !important;
margin: 0px auto;
width: 1024px;
height: 1024px;
}

.right {
float: right;
}

.inline {
display: inline-block !important;
}

.image-container {
margin: 0px;
background: black url('/images/accounthero_.jpg') no-repeat;
-webkit-background-size: 1024px 900px;
-moz-background-size: 1024px 800px;
-o-background-size: 1024px 800px;
background-size: 1024px 800px;
margin: 0px auto;
width: 1018px;
height: 1000px;
position: fixed;
top: 0px;
border: 1px solid #afafaf;
}

.image-container-wood {
margin: 0px;
background: black url('/images/wood.jpg') no-repeat;
-webkit-background-size: 1024px 2000px;
-moz-background-size: 1024px 2000px;
-o-background-size: 1024px 2000px;
background-size: 1024px 2000px;
margin: 0px auto;
width: 1018px;
height: 2000px;
position: fixed;
top: 0px;
border: 1px solid #afafaf;
}

.navbar-top {
position: fixed;
margin: 0px auto;
background: rgba(255,255,255,1);
width: 998px;
height: 40px;
line-height: 40px;
border: 1px solid #afafaf;
padding: 0px 10px 0 10px;
z-index: 1000;
}

#account-navbar {
position: fixed;
top: 41px;
margin: 0px auto;
background: rgba(255,255,255,1);
width: 1018px;
height: 40px;
line-height: 40px;
border: 1px solid #afafaf;
padding: 0px 0px 0 0px;
z-index: 10000;
}

.menu-item {
width: 253px;
background: none;
height: 100%;
border-right: 1px solid #afafaf;
float: left;
line-height: 40px;
text-align: center;
cursor: pointer;
}

.menu-item:last-child {
border-right: 0px solid #afafaf;
}

#account-menu {
position: fixed;
top: 82px;
margin: 0px auto;
background: rgba(255,255,255,0);
width: 1019px;
height: auto;
line-height: 40px;
padding: 0px 0px 0 0px;
z-index: 10000;
}

.menu-list {
width: 253px;
background: black;
height: 1px;
overflow: hidden;
border-right: 1px solid #afafaf;
float: left;
line-height: 40px;
text-align: center;
cursor: pointer;
margin-left: 0px;
padding: 0px;
}

.menu-list:first-child {
margin-left: 0px;
}

.menu-list:last-child {
width: 257px;
border-right: 0px solid #afafaf;
-webkit-box-shadow: 3px 0px 5px -2px #afafaf;
box-shadow: 3px 0px 5px -2px #afafaf;
}

.menu-list-item {
width: 100%;
background: white;
height: 30px;
border: 1px solid #afafaf;
border-bottom: 1px dashed #afafaf;
border-top: 0px solid #afafaf;
float: left;
line-height: 30px;
text-align: center;
cursor: pointer;
font-size: 11px;
}

.menu-list-item:first-child {
border-top: 1px solid #afafaf;
}

.menu-list-item:last-child {
border-bottom: 1px solid #afafaf;
}

#info-box-top {
position: fixed;
top: 82px;
margin: 0px auto;
width: 1018px;
border: 1px solid #afafaf;
height: 80px;
background: #eef1f8;
box-shadow: 0 4px 2px -2px gray;
-webkit-box-shadow: 0 4px 2px -2px gray;
z-index: 100;
}

.info-box-item {
float: left;
width: 25%;
height: 100%;
line-height: 40px;
font-size: 13px;
text-align: center;
}

#main-frame {
position: fixed;
margin: 0px auto;
width: 1020px;
height: auto;
top: 163px;
background: none;
box-shadow: 0 4px 2px -2px gray;
-webkit-box-shadow: 0 4px 2px -2px gray;
padding: 0px;
}

#tabs {
margin: 0px auto;
width: 1018px;
padding: 10px 0px 0px 0px;
background: black url('/images/wood.jpg') no-repeat;
-webkit-background-size: 1024px 2000px;
-moz-background-size: 1024px 2000px;
-o-background-size: 1024px 2000px;
background-size: 1024px 2000px;
height: 60px;
position: relative;
}

.tab-item {
float: bottom;
width: 253px;
height: 40px;
line-height: 40px;
text-align: center;
border: 1px solid #afafaf;
border-bottom: 0px;
border-left: 0px;
position: absolute;
bottom: 0px;
border-radius: 5px 5px 0 0;
background: white;
-moz-box-shadow: inset 0 0 2px #888;
-webkit-box-shadow: inset 0 0 2px#888;
box-shadow: inner 0 0 2px #888;
    &.active {
    background: #edeff4;
    }
}

.tab-item:nth-child(2) {
left: 254px;
}

.tab-item:nth-child(3) {
left: 508px;
}

.tab-item:nth-child(4) {
left: 762px;
}

#income-form {
margin: 0px auto;
width: 998px;
padding: 0px 10px 10px 10px;
border: 1px solid #afafaf;
background: #a8d0d2;
text-align: center;
}

.box-border {
-moz-box-shadow: 0 0 3px 3px rgb(203, 203, 203);
-webkit-box-shadow: 0 0 3px 3px rgb(203, 203, 203);
box-shadow: 0 0 3px 3px rgb(203, 203, 203);
}

div, body, input, button, select, option, textarea, a, .font {
font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
color: rgb(66, 62, 62);
font-size: 13px;
font-weight: 500;
    &.shadow {
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    }
}

a {
text-decoration: none;
font-size: 11px;
}

body {
    font-size: 13px;
}
input, button, select, option, textarea {
    font-size: 100%;
    width: 100%;
}

input[type=text], input[type=password], select {
-webkit-appearance: none;
-webkit-border-image: none;
-webkit-box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px 10px 10px -10px inset;
-webkit-font-smoothing: antialiased;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
-webkit-writing-mode: horizontal-tb;
background-color: rgb(255, 255, 255);
border-radius: 2px;
border: 1px solid rgb(191, 199, 206);
box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px 10px 10px -10px inset;
cursor: auto;
display: block;
height: 28px;
line-height: 28px;
margin-bottom: 18px;
padding: 0px 10px 0px 10px;
width: 170px;
    &:focus {
    outline: 1px solid rgb(66, 62, 62);
    }
}



input[type=submit] {
-webkit-box-shadow: rgba(1, 33, 57, 0.298039) 0px 1px 1px 0px;
-webkit-font-smoothing: antialiased;
background: rgb(77, 144, 254);
background-image: linear-gradient(rgb(77, 144, 254), rgb(71, 135, 237));
border: rgb(89, 130, 38) 1px solid;
border-radius: 3px;
box-shadow: rgba(1, 33, 57, 0.298039) 0px 1px 1px 0px;
color: rgb(255, 255, 255);
font-weight: 600;
cursor: pointer;
display: block;
height: 32px;
letter-spacing: normal;
line-height: 30px;
margin: 18px 0 9px 0;
padding: 0px;
text-align: center;
text-shadow: rgb(89, 130, 38) 0px 1px 0px;
width: 194px;
}

.logo {
font-weight: bold;
text-decoration: none;
}

#badge {
width: 40px;
height: 40px;
position: absolute;
color: white;
top: 0px;
left: 214px;
background: red;
-webkit-box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 6px 0px, rgba(255, 255, 255, 0.631373) 0px 1px 2px 0px inset, rgba(0, 0, 0, 0.129412) 0px 0px 5px 0px inset;
box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 6px 0px, rgba(255, 255, 255, 0.631373) 0px 1px 2px 0px inset, rgba(0, 0, 0, 0.129412) 0px 0px 5px 0px inset;
font-size: 15px;
line-height: 40px;
text-align: center;
letter-spacing: 3px;
}

#signin-text, #signout-text {
position: absolute;
top: 0px;
right: 50px;
}

#main-content {
position: absolute;
top: 720px;
margin: 0px auto;
width: 1018px;
height: 1024px;
background: #2a2a2a;
border: 1px solid #afafaf;
border-radius: 5px 5px 0px 0px;
}

.main-header {
background: white;
height: 60px;
width: 100%;
line-height: 60px;
text-align: center;
font-weight: 20px;
}

.circle {
border-radius: 50% 50%;
height: 40px;
width: 40px;
position: absolute;
top: -20px;
left: 900px;
background: white;
border: 1px solid #afafaf;
line-height: 40px;
text-align: center;
}

.pointer {
cursor: pointer;
}

#login-form, #register-form {
background: #f5f6f8;
background-image: linear-gradient(#f5f6f8, #e8eaf0);
border-radius: 4px;
height: auto;
padding: 15px;
text-decoration: none;
border: 1px solid #afafaf;
width: 190px;
text-align: center;
line-height: 24px;
float: right;
}


#my-div {
    width: 994px;
    height: auto;
    display: none;
    background:none;
    position: fixed;
    top: 60px;
    margin: 0px auto;
    z-index: 100000;
    padding: 0px 30px 0 0;
}

.square {
background-color: #f5f6f8 !important;
color: rgba(255,255,255,0.95);
background: #c00;
height: 20px;
width: 20px;
position: absolute;
top: -10px;
right: 60px;
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-o-transform:rotate(45deg);
-ms-transform:rotate(45deg);
border-top: 1px solid #afafaf;
border-left: 1px solid #afafaf;
}

/* DatePicker Container */
.ui-datepicker {
	width: 216px;
	height: auto;
	margin: 5px auto 0;
	font: 9pt Arial, sans-serif;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}
.ui-datepicker a {
	text-decoration: none;
}
/* DatePicker Table */
.ui-datepicker table {
	width: 100%;
}
.ui-datepicker-header {
	background: url('../img/dark_leather.png') repeat 0 0 #000;
	color: #e0e0e0;
	font-weight: bold;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	text-shadow: 1px -1px 0px #000;
	filter: dropshadow(color=#000, offx=1, offy=-1);
	line-height: 30px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #111;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background-image: url('../images/arrow.png');
	background-repeat: no-repeat;
	line-height: 600%;
	overflow: hidden;
}
.ui-datepicker-prev {
	float: left;
	background-position: center -30px;
}
.ui-datepicker-next {
	float: right;
	background-position: center 0px;
}
.ui-datepicker thead {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
	background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
	border-bottom: 1px solid #bbb;
}
.ui-datepicker th {
	text-transform: uppercase;
	font-size: 6pt;
	padding: 5px 0;
	color: #666666;
	text-shadow: 1px 0px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=0);
}
.ui-datepicker tbody td {
	padding: 0;
	border-right: 1px solid #bbb;
}
.ui-datepicker tbody td:last-child {
	border-right: 0px;
}
.ui-datepicker tbody tr {
	border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
	border-bottom: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #666666;
	text-shadow: 1px 1px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
	background: #ededed;
	background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
	background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: linear-gradient(top,  #ededed 0%,#dedede 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}
.ui-datepicker-calendar .ui-state-hover {
	background: #f7f7f7;
}
.ui-datepicker-calendar .ui-state-active {
	background: #66ccdd;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	color: #000000;
	text-shadow: 0px 1px 0px #4d7a85;
	filter: dropshadow(color=#4d7a85, offx=0, offy=1);
	border: 1px solid #55838f;
	position: relative;
	margin: -1px;
}

.expense-datepicker > .ui-datepicker-calendar .ui-state-active {
    
    background: black !important;

}
.ui-datepicker-unselectable .ui-state-default {
	background: #f4f4f4;
	color: #b4b3b3;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 29px;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 29px;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height: 29px;
	margin-bottom: 0;
}



